<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sh.love.mapper.MainMapper" >

    <select id="findAll" resultType="main">
        SELECT SN, CN FROM MAIN
    </select>
    <select id="findSn" resultType="java.lang.String">
        SELECT CN FROM MAIN WHERE SN = #{sn}
    </select>
    <insert id="save">
        insert into values(${cn})
    </insert>
    <delete id="delete">
        delete FROM MAIN WHERE sn = #{id}
    </delete>
</mapper>
